{namespace Footer}

/**
 */
{template .render}
	{@param year: ?}

	<footer class="footer">
		<div class="container">
			<div class="row">
				<p class="footer-description col-md-6 col-md-offset-2">
					Copyright © {$year} <a href="http://www.clicktocloud.com/">Click to Cloud Pty Ltd</a>
				</p>
			</div>
		</div>
	</footer>
{/template}
