{namespace TutorialTimer}

/**
 */
{template .render}
	{@param? time: ?}

	<p class="tutorial-time-remaining">
		{if $time}
			<span class="icon icon-16-clock"></span> {$time}
		{/if}
	</p>
{/template}
