---
title: "Tutorials"
description: "The tutorials"
url: "/query-apex/tutorials/getting_started/step_1.html"
layout: false
---

{namespace tutorialsIndex}

/**
 */
{template .render}
	{@param page: ?}

	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="refresh" content="0; URL='{$page.url}'">
		</head>
	</html>
{/template}
