---
title: "Getting Started"
description: "The Getting Started Tutorial"
tutorialTitle: "Getting started with Query.apex"
url: "/query-apex/tutorials/getting_started/step_1.html"
layout: false
---

{namespace tutorialFirst}

/**
 */
{template .render}
	{@param page: ?}

	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="refresh" content="0; URL='{$page.url}'">
		</head>
	</html>
{/template}
